name: Build the frontend

on:
  push:
    branches:
      - develop
    paths:
      - "frontend/**"

jobs:
  build:
    runs-on: ubuntu-latest
    environment:
      name: staging
    steps:
      - name: Check out the code
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build Docker image for Frontend
        run: |
          docker build -t civic-chatbot-frontend:latest ./frontend
